.star {
    padding-top: 13px;
    border: none;
    background-color: transparent;
    cursor: pointer;

    .star-icon {
         &:first-child {
            fill: transparent;

            &:hover {
                fill: black;
            }
        }
    
    }

    .filled  {
    &:first-child {
        fill: black;
    };
}
}