.error-popup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.50);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
}

.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    width: 400px;
    padding: 37px 25px 30px 25px;
    background-color: #fff;
    border-radius: 10px;
    color: #252525;

    h5 {
        font-size: 24px;
        color: red;
    }

    p {
        text-align: center;
    }
}