.card {
    width: 230px;
    height: 230px;
    border-radius: 10px;
    background: #FFF;

    .flag {
    width: 230px;
    height: 115px;
    border-radius: 10px 10px 0px 0px;
    }

    .info {
        margin: 13px 21px 0px 12px;
        color: #252525;
        
        .name {
            font-size: 15px;
            font-weight: 600;
            width: fit-content;

           &:hover {
            color: red;
            cursor: pointer;
           }
        }

        .capital-container {
            display: flex;
            justify-content: space-between;
            margin-top: 24px;

            .capital-name {
                font-size: 15px;
                font-weight: 600;
            }
        }
    }
}